.card {
  width: 250px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .25);
  background-color: #ffffff;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pokemonImg {
  background-color: rgba(0, 0, 0, .25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 20px 0 40px 0;
  border-radius: 50%;
}

.pokemonImg img {
  max-width: 100%;
  max-height: 90%;
  width: 130px;
}

.types {
  width: 100%;
  max-width: 120px;
  display: flex;
  justify-content: center;
}

.types div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 12px;
}

.types div p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.pokemonIdentity {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonIdentity p {
  display: flex;
  /* align-items: center; */
  text-align: center;
  margin-bottom: 8px;
}

.pokemonIdentity p img {
  margin: 0 5px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.normal {
  background-color: #704f5681;
}

.fighting {
  background-color: #953c2384;
}

.flying {
  background-color: #41647785;
}

.poison {
  background-color: #592d8089;
}

.ground {
  background-color: #9f6f2787;
}

.rock {
  background-color: #42190b86;
}

.bug {
  background-color: #1848228a;
}

.ghost {
  background-color: #30316788;
}

.steel {
  background-color: #5d726b88;
}

.fire {
  background-color: #a61d2286;
}

.water {
  background-color: #1051d47d;
}

.grass {
  background-color: #17723b82;
}

.electric {
  background-color: #d7da2a86;
}

.psychic {
  background-color: #9d28658d;
}

.ice {
  background-color: #86c6ee85;
}

.dragon {
  background-color: #44859288;
}

.dark {
  background-color: #03070683;
}

.fairy {
  background-color: #95174187;
}