.allResults {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 10px;
}

.pagination button {
  padding: 6px 16px;
  border-radius: 12px;
  border: none;
  color: #f7f7f7;
  background-color: #6897e6;
  transition: .15s ease-in-out;
}

.pagination button:hover {
  background-color: #b57588;
}